{% extends "base.html" %}

{% block content %}
    {% for vacancy in vacancy_list %}
        <div>
            <a href="{% url 'vacancy_detail' vacancy.pk %}">
                <h1>{{ vacancy.title }}</h1>
            </a>

            {% if vacancy.salary_from %}
                from {{ vacancy.salary_from }}

                {% if vacancy.salary_to %}
                    to {{ vacancy.salary_to }} &#8381;
                {% else %}
                    &#8381;
                {% endif %}
            {% else %}
                {% if vacancy.salary_to %}
                    to {{ vacancy.salary_to }} &#8381;
                {% else %}
                     {{ "by agreement" }}
                {% endif %}
            {% endif %}

            {% if vacancy.experience_matter %}
                {% if vacancy.experience_from %}
                    from {{ vacancy.experience_from }}

                    {% if vacancy.experience_to %}
                        to {{ vacancy.experience_to }} years
                    {% else %}
                        years
                    {% endif %}
                {% else %}
                    {% if vacancy.experience_to %}
                        up to {{ vacancy.experience_to }} years
                    {% else %}
                        {{ "without experience" }}
                    {% endif %}
                {% endif %}
            {% else %}
                not matter
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
