<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>joffer</title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'resume_list' %}">Resumes</a>
            <a href="{% url 'vacancy_list' %}">Vacancies</a>

            {% if user.is_authenticated %}
                {{ user.username }}

                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'register' %}">Register</a>
            {% endif %}
        </nav>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
        &copy; {% now "Y" %} joffer. All rights reserved
    </footer>
</body>
</html>